@use "../abstracts/" as *;

a {
	color: $boneWhite;
	text-decoration: none;
}

img,
picture {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 1/1;
}

body {
	&.no-scroll {
		overflow: hidden;
	}
	font-family: $roboto;
	color: $boneWhite;
	#root {
		@include container(grid);
		grid-template-rows: 1fr 5rem;
		min-height: 100%;
		height: 100vh;
	}

	header {
		background-color: $darkCherry;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		max-height: 5rem;
		height: 100%;
		z-index: 3;
	}

	footer {
		background-color: $darkCherry;
	}

	main,
	section {
		background-color: $leatherBlack;
	}

	main {
		margin-top: 5rem;
	}

	section:first-child {
		margin-top: 0 0 1rem;
	}

	section {
		padding: 1rem;
	}
}

h1,
h2,
h3,
p {
	font-family: $gothicA1;
}

h1 {
	font-size: $h1;
}
h2 {
	font-size: $h2;
}
h3 {
	font-size: $h3;
}
p {
	font-size: $p;
}

@include loader;
