@use "../abstracts/" as *;
.calendar {
  background: $leatherBlack;
  font-family: $gothicA1;
  .calendar-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;

    border-bottom: 0.0625rem $placeholderGrey solid;
    button {
      cursor: pointer;
      background: none;
      border: none;
      font-size: $h1;
      color: $boneWhite;
    }
  }

  .day-names {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    background: $placeholderGrey;
    border-bottom: $leatherBlack 1px solid;
    margin-bottom: 1rem;
  }

  margin-top: 5rem;
  .old-day {
    cursor: default;
  }
  .day {
    cursor: pointer;
  }
  .day,
  .old-day {
    position: relative;
    width: calc(100% / 7);
    height: 44px;
    display: inline-block;
    padding: 0;
    margin: 0;
    z-index: 1;
    text-align: center;
    .today {
      background: yellow;
    }

    .before {
      background: $placeholderGrey;
    }

    .selected {
      background: green;
    }
  }
}
