@use "../abstracts/" as *;
.calendar {
  margin-top: 2rem;
  background: $leatherBlack;
  font-family: $gothicA1;
  .calendar-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;

    border-bottom: 0.0625rem $placeholderGrey solid;
    button {
      cursor: pointer;
      background: none;
      border: none;
      font-size: $h1;
      color: $boneWhite;
    }
  }

  .day-names {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    background: $placeholderGrey;
    border-bottom: $leatherBlack 0.0625rem solid;
    margin-bottom: 1rem;
  }

  .week {
    @include container("grid");
    grid-template-columns: repeat(7, calc(100% / 7));
  }

  .old-day {
    cursor: default;
  }
  .day {
    cursor: pointer;
  }
  .day,
  .old-day {
    width: 100%;
    text-align: center;
    border: 0.0625rem solid rgba(0, 0, 0, 0);
    .before {
      background: $placeholderGrey;
    }
  }
  .selected {
    background-color: #5257da;
  }
}
