@use "../abstracts/" as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  
    .hamburger-menu{
      height: 2.5rem;
      width: 2.5rem;
      div{
        border-radius: 0.4rem;
        margin: 0.4rem 0;
        height: 4px;
        background-color: $boneWhite;
      }
    }
    .title-and-login{
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .title{
        font-weight: bold;
      }
      .login{
        font-weight: bold;
      }
    }
}
