@use "../abstracts/" as *;

.header-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1rem;
    .hamburger-menu{
      height: 2.5rem;
      cursor: pointer;
      div{
        border-radius: 0.4rem;
        margin: 0.4rem 0;
        height: 4px;
        width: 2rem;
        background-color: $boneWhite;
      }
    }
    .title-and-log-reg{
      .title{
        text-shadow: 0px 4px rgba(0, 0, 0, 0.25);
      }
      .log-reg-container{
        display: flex;
        justify-content: center;
        .login-button, .register-button{
          border: none;
          background: none;
          font-weight: bold;
          font-size: 14px;
          color: $boneWhite;
          cursor: pointer;
        }
        .login-button:hover, 
        .register-button:hover{
          color: grey;
        }
        span{
          color: $boneWhite;
        }
      }
    }
}
