@use "../abstracts/" as *;

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 0;
  transition: all 0.5s ease-in-out;
  &.preEnter {
    top: -3.125rem;
    opacity: 0.5;
  }
  &.entered {
    top: 0;
    opacity: 1;
  }
  &.preExit {
    top: 3.125rem;
    opacity: 0.5;
  }
  &.exiting {
    top: -3.125rem;
    opacity: 0;
  }
  .form-wrapper {
    margin-top: 0.313rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    .email-field,
    .password-field {
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.313rem;
      border: 0.0625rem solid black;
    }
  }
  button {
    transition: all 250ms ease-in;
    margin: auto;
    background-color: $darkCherry;
    border: 0.125rem solid $leatherBlack;
    border-radius: 0.313rem;
    color: $boneWhite;
    font-weight: bold;
    padding: 0.5rem;
    width: 10rem;
    margin-top: 0.5rem;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $leatherBlack;
      border: 0.125rem solid $darkCherry;
    }
  }
}
