body section.login {
    background: rgb(232, 75, 215);
    background: linear-gradient(180deg, hsl(306, 77%, 60%) 0%, hsl(290, 39%, 79%) 49%, hsl(294, 37%, 56%) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin-top: 0;
}
