.scroll {
  overflow-x: hidden;

  .scroll-left,
  .scroll-right {
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: all 250ms ease-in;
    z-index: 0;
  }
  .scroll-left {
    left: -20rem;
    &.fade-in-left {
      opacity: 1;
      left: 0;
    }
  }

  .scroll-right {
    right: -20rem;
    &.fade-in-right {
      opacity: 1;
      right: 0;
    }
  }
}
