// .lazy-load-effect {
//   overflow-x: hidden;

//   .left.fade-in,
//   .right.fade-in {
//     position: relative;
//     z-index: 2;
//     opacity: 0;
//     transition: all 750ms ease-in;
//     z-index: 0;
//     &.appear {
//       opacity: 1;
//     }
//   }
//   .left.fade-in {
//     left: -20rem;
//     &.appear {
//       left: 0;
//     }
//   }

//   .right.fade-in {
//     right: -20rem;
//     &.appear {
//       right: 0;
//     }
//   }
// }
