@use "../abstracts/" as *;

.staffs {
  .title {
    text-shadow: 0 0.25rem 0.1rem rgb(255, 255, 255, 0.25);
    text-align: center;
  }

  button {
    position: fixed;
    cursor: pointer;
    top: 5rem;
    left: 1rem;
    color: $leatherBlack;
    border: 0.0625rem solid $leatherBlack;
    box-shadow: 0 0.5rem 0.938rem rgba(0, 0, 0, 0.5);
    background: none;
    height: 2.063rem;
    margin: 0;
    padding: 0.313rem;
    width: 2.063rem;
    svg {
      pointer-events: none;
    }
  }

  background-color: rgba(0, 0, 0, 0.7);
  .containers {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container {
    cursor: pointer;
    margin: 1rem 0;
  }
  picture {
    width: 100%;
  }

  .display-container {
    cursor: default;
    margin-top: 5rem;
    display: none;
    &.active {
      z-index: 10;
      background-color: $darkCherry;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      overflow-y: auto;
      overflow-x: hidden;
      display: block;
      picture {
        height: auto;
      }
    }
    .info {
      width: 90%;
      margin: 1rem auto;
      color: $leatherBlack;
      background-color: $boneWhite;
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }
}
