@use "../abstracts/" as *;
.container,
.user-page,
.user-info,
.user-booked-times,
.user-booked-times-info {
  display: flex;
  flex-direction: column;
}

.user-page {
  padding: 0;
  width: 100%;
  margin-top: 5rem;
  background-color: #282829;
  align-items: center;

  .user-info {
    > * {
      padding: 1rem 0;
    }
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .remove-this-booking {
    margin-bottom: 1rem;
  }
  .delete-me,
  .remove-this-booking {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    svg {
      pointer-events: none;
    }
  }

  //Skämt bara... vi blev trötta på en fredag... deal with it!
  .denied {
    z-index: -1;
    position: fixed;
    width: 100%;
    background: $skyblue;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    transition: opacity 250ms ease-in;
    &.display {
      z-index: 1;
      opacity: 1;
    }
  }

  .user-booked-times {
    height: 50vh;
    width: 90vw;
    padding-bottom: 1.5rem;
    background-color: rgba(110, 43, 43, 0.774);
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 0.0625rem solid hsl(0, 0%, 0%);
    .user-booked-times-info {
      overflow-y: auto;
      background-color: hsl(240, 1%, 16%);
      align-items: center;
      height: 90%;
      width: 90%;
      border-radius: 0.3rem;
      border: 0.0625rem solid #000000;
      padding: 1rem;
    }
  }
  button {
    background: none;
    color: $boneWhite;
    border: none;
    cursor: pointer;
    transition: color 250ms ease-in;
    &:hover,
    &:focus {
      color: $cherryRed;
    }
  }
}
