@forward "./abstracts/reset";
@forward "./components/base";
@forward "./components/login";
@forward "./components/register";
@forward "./components/price-list";
@forward "./components/header";
@forward "./components/home";
@forward "./components/footer";
@forward "./components/scroll-effect";
@forward "./components/booking";
@forward "./components/staff";
@forward "./components/calendar";
@forward "./components/user-page";
@forward "./responsive";
