// Colour code:

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
}
body {
  width: 100vw;
  font-variant-numeric: lining-nums;
  font-variant-ligatures: none;
}
